
@{
    var user = (Open_Shift.Models.User)Model.User;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>
</head>
<body data-page="@ViewBag.Title">
    <div id="frankie-bar">
        <a href="~/Home/Index" class="w3-bar-item w3-button bg-primary text-light" title="Home"><i class="fa fa-home"></i> <span class="link-text">Home</span></a>
        @if (user.IsAuthenticated && user.EmailVerificationToken == "" && user.StatusID == Open_Shift.Models.User.StatusList.Active)
        {
            <a href="~/Profile/Index" class="w3-bar-item w3-button" title="Account"><i class="fa fa-address-card"></i> <span class="link-text">@(user.FirstName + " " + user.LastName)</span></a>
            <a href="~/Profile/SignOut" class="w3-bar-item w3-button" title="Sign Out"><i class="fas fa-sign-out-alt"></i> <span class="link-text">Sign Out</span></a>
        }
        else
        {
            <a href="~/Profile/SignIn" class="w3-bar-item w3-button" title="Sign In"><i class="fas fa-sign-in-alt"></i> <span class="link-text">Sign In</span></a>
            <a href="~/Profile/SignUp" class="w3-bar-item w3-button" title="Sign Up"><i class="fas fa-user"></i> <span class="link-text">Sign Up</span></a>
        }
    </div>
    <div id="workspace">
        @RenderBody()
    </div>
</body>
</html>
