@model Open_Shift.Models.Home
@{
    /**/

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h3 position="fixed">Kotetsu Scheduling App</h3>
<p>Associate Profile</p>
@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<div id="group-image">
            @if (Model.User.UserImage.ImageID > 0)
            {
                <div class="image-container">
                    <img class="thumbnail2" src="@string.Concat("data:Image/", Model.User.UserImage.FileExtension, ";base64,", Model.User.UserImage.BytesBase64)" />
                </div>
            }
        </div>*@
    <div class="container profile">
        <div class="section-bottom">
            <div class="bold">First Name</div>
            <div>@Model.User.FirstName</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Last Name</div>
            <div>@Model.User.LastName</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Birthday</div>
            <div>@Model.User.Birthday</div>
        </div>
        <div class="section-bottom">
            <div class="bold">AddressLine1</div>
            <div>@Model.User.AddressLine1</div>
        </div>
        <div class="section-bottom">
            <div class="bold">AddressLine2</div>
            <div>@Model.User.AddressLine2</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Postal Code</div>
            <div>@Model.User.PostalCode</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Store Location</div>
            <div>@Model.User.StoreID</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Status</div>
            <div>@Model.User.StatusID</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Is Manager?</div>
            <div>@Model.User.IsManager</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Employee Number</div>
            <div>@Model.User.EmployeeNumber</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Associate Title</div>
            <div>@Model.User.AssociateTitle</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Phone Number</div>
            <div>@Model.User.Phonenumber</div>
        </div>
        <div class="section-bottom">
            <div class="bold">Email</div>
            <div>@Model.User.Email</div>
        </div>

    </div>
    <br />
    <div class="inline">
        <button class="button-action" id="btnUpdate" name="btnSubmit" value="update"><i class='far fa-save'></i> Update</button>
        <button class="button-cancel" id="btnDelete" name="btnSubmit" value="delete"><i class='far fa-trash-alt'></i> Delete Profile</button>
        <button class="button-action" id="btnResetPassword" name="btnSubmit" value="resetpassword">Reset password </button>
    </div>

}

<script type="text/javascript">
    $("#User_FirstName").focus();
</script>


