@model Open_Shift.Models.Home
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (Model.User.UID == Model.ViewUser.UID || ViewContext.RouteData.Values["id"] == null)
    { //allow edits
        <h2>@Model.User.FirstName @Model.User.LastName</h2>
        <p>To make changes to your profile enter your information below and click the Update button.</p>

        <div id="group-image">
            @if (Model.User.UserImage.ImageID > 0)
            {
                <div class="image-container">
                    <img class="thumbnail2" src="@string.Concat("data:Image/",
					Model.User.UserImage.FileExtension, ";base64,",
					Model.User.UserImage.BytesBase64)" />
                </div>
            }
        </div>
        <div id="group-data">
            @Html.TextBoxFor(model => model.User.UserImage.ImageID, new { style = "display: none;" })
            <div class="section-bottom">
                <div class="">
                    <div>User Profile Image</div>
                    <div>
                        <input class="profile-item" type="file" name="UserImage" id="UserImage" />
                    </div>
                </div>
            </div>
            <div class="section-bottom">
                <div>@Html.LabelFor(model => model.User.FirstName)</div>
                <div class="profile-item">@Html.TextBoxFor(model => model.User.FirstName)</div>
            </div>
            <div class="section-bottom">
                <div>@Html.LabelFor(model => model.User.LastName)</div>
                <div class="profile-item">@Html.TextBoxFor(model => model.User.LastName)</div>
            </div>
            <div class="section-bottom">
                <div>@Html.LabelFor(model => model.User.Email)</div>
                <div class="profile-item">@Html.TextBoxFor(model => model.User.Email)</div>
            </div>
            <div class="section-bottom">
                <div>@Html.LabelFor(model => model.User.UserID)</div>
                <div class="profile-item">@Html.TextBoxFor(model => model.User.UserID)</div>
            </div>
            <div class="section-bottom">
                <div>@Html.LabelFor(model => model.User.Password)</div>
                <div class="profile-item">@Html.TextBoxFor(model => model.User.Password, new { type = "password" })</div>
            </div>

            <div class="section-top2">
                <button class="button-action" id="btnUpdate" name="btnSubmit" value="update"><i class='far fa-save'></i> Update</button>
                <button class="button-cancel" id="btnDelete" name="btnSubmit" value="delete"><i class='far fa-trash-alt'></i> Delete Profile</button>
                <button class="button-cancel" id="btnClose" name="btnSubmit" value="close-to-home"><i class='fa fa-home'></i> Home</button>
            </div>
        </div>
    }
    else
    {//show read-only
        <h2>@Model.ViewUser.FirstName @Model.ViewUser.LastName</h2>
        <div id="group-image">
            @if (Model.ViewUser.UserImage.ImageID > 0)
            {
                <div class="image-container">
                    <img class="thumbnail2" src="@string.Concat("data:Image/"
						, Model.ViewUser.UserImage.FileExtension, ";base64,"
						, Model.ViewUser.UserImage.BytesBase64)" />
                </div>
            }
        </div>
        <div id="group-data">
            <div class="section-bottom">
                <div class="bold">Email</div>
                <div>@Model.ViewUser.Email</div>
            </div>
            <div class="section-bottom">
                <div class="bold">User ID</div>
                <div>@Model.ViewUser.UserID</div>
            </div>
            <div class="section-top2">
                <button class="button-cancel" id="btnClose" name="btnSubmit" value="close-to-home"><i class='fa fa-home'></i> Home</button>
            </div>
        </div>
    }
}
<script type="text/javascript">
	$("#User_FirstName").focus();
</script>
