@model Open_Shift.Models.Home
@{
    /**/

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script src="../Scripts/bootstrap.js"></script>

<h1 class="mb-4">Account</h1>

@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<div id="group-image">
            @if (Model. .UserImage.ImageID > 0)
            {
                <div class="image-container">
                    <img class="thumbnail2" src="@string.Concat("data:Image/", Model.User.UserImage.FileExtension, ";base64,", Model.User.UserImage.BytesBase64)" />
                </div>
            }
        </div>*@

    <fieldset disabled="disabled">
        <div class="container-main">
            <div>
                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.Email)</div>
                    <div>@Html.TextBoxFor(model => model.User.Email, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.Email)</div>
                </div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.Phonenumber)</div>
                    <div>@Html.TextBoxFor(model => model.User.Phonenumber, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.Phonenumber)</div>
                </div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.Birthday)</div>
                    <div>@Html.TextBoxFor(model => model.User.Birthday, "{0:yyyy/MM/dd}", new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.Birthday)</div>

                </div>
                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.FirstName)</div>
                    <div>@Html.TextBoxFor(model => model.User.FirstName, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.FirstName)</div>
                </div>
                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.LastName)</div>
                    <div>@Html.TextBoxFor(model => model.User.LastName, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.LastName)</div>
                </div>

            </div>
            <div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.AddressLine1)</div>
                    <div>@Html.TextBoxFor(model => model.User.AddressLine1, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.AddressLine1)</div>
                </div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.AddressLine2)</div>
                    <div>@Html.TextBoxFor(model => model.User.AddressLine2, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.AddressLine2)</div>
                </div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.PostalCode)</div>
                    <div>@Html.TextBoxFor(model => model.User.PostalCode, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.PostalCode)</div>
                </div>

            </div>


            <div>
                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.StoreID, "Store")</div>
                    <div>@Html.DropDownListFor(model => model.User.StoreID, new SelectList(Model.Lists.StoreLocationList, "Value", "Text", Model.User.StoreID), new { @title = "Select your Location.", @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.StoreID)</div>
                </div>
                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.IsManager, "Are You a Manager?")</div>
                    <div>@Html.DropDownListFor(model => model.User.IsManager, new SelectList(Model.Lists.IsManager, "Value", "Text", Model.User.IsManager), new { @title = "Select your managerial status.", @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.IsManager)</div>
                </div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.EmployeeNumber)</div>
                    <div>@Html.TextBoxFor(model => model.User.EmployeeNumber, new { @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.EmployeeNumber)</div>
                </div>

                <div class="form-group">
                    <div>@Html.LabelFor(model => model.User.AssociateTitle, "Associate Title")</div>

                    <div>@Html.DropDownListFor(model => model.User.AssociateTitle, new SelectList(Model.Lists.AssociateTitle, "Value", "Text", Model.User.AssociateTitle), new { @title = "Select your title.", @class = "form-control" })</div>
                    <div>@Html.ValidationMessageFor(model => model.User.AssociateTitle)</div>
                </div>

            </div>

            @*<div value="Notification">
                @*<input type="checkbox" name="Notifications" value="Manager"> Are you a manager?<br>*@
            @*<input type="checkbox" name="Notifications" value="Email"> Receive Email Notifications<br>
                <input type="checkbox" name="Notifications" value="Textr"> Receive Text Notificatons<br>*@
            @*</div>*@
        </div>
    </fieldset>

    <br />

    <div>
        <button class="btn btn-primary" id="btnUpdate" name="btnSubmit" value="update"><i class='far fa-edit'></i> Edit</button>
        <button class="btn btn-primary" id="btnResetPassword" name="btnSubmit" value="resetpassword">Reset Password</button>

        <button class="btn-outline-danger float-right" name="btnSubmit" value="delete" type="button" onclick="confirmDeactivate( )"><i class='far fa-trash-alt'></i> <span class="full-content">Deactivate Account</span></button>
    </div>

}

<!-- Modal -->
<div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deactivateModalLabel">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deactivating your account will prevent you from using Open Shift again until your account is reactivated. Are you sure you want to deactivate your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="/Profile/Delete" method="POST">
                    <button class="deactivate-button btn btn-outline-danger" name="btnSubmit" value="delete">Deactivate</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDeactivate() {
        $("#deactivateModal").modal("toggle");
    }

    $("#User_FirstName").focus();
</script>
