
@model Open_Shift.Models.Home
@{


    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>Please enter a new password.</p>
@using (Html.BeginForm("ResetPassword", "Profile", FormMethod.Post))
{
    <div class="section-bottom">
        <div>@Html.HiddenFor(model => model.User.Email)</div>
        <div>@Html.HiddenFor(model => model.User.PasswordResetToken)</div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Password)
            <div>@Html.TextBoxFor(model => model.User.Password, new { type = "password", @Value = "", @class = "form-control" })</div>
            <small class="validation-message form-text text-danger">@Html.ValidationMessageFor(model => model.User.Password)</small>
        </div>

        <div class="form-group">
            <div>@Html.LabelFor(model => model.User.ConfirmPassword)</div>
            <div>@Html.TextBoxFor(model => model.User.ConfirmPassword, new { type = "password", @Value = "", @class = "form-control" })</div>
            <small class="validation-message form-text text-danger">@Html.ValidationMessageFor(model => model.User.Password)</small>
        </div>
    </div>
    <button class="btn btn-primary form-control" id="btnResetPassword" name="btnSubmit" value="resetpassword">Reset Password</button>

}
