
@model Open_Shift.Models.Home
@{


    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>Please enter your old and new passwords</p>
@using (Html.BeginForm("ResetPassword", "Profile", FormMethod.Post))
{
    <div class="section-bottom">


        <div>
            @Html.LabelFor(model => model.User.Password)
            <div>@Html.TextBoxFor(model => model.User.Password, new { type = "password" })</div>
            <small class="validation-message form-text text-danger">@Html.ValidationMessageFor(model => model.User.Password)</small>
        </div>

        <div>
            <div>@Html.LabelFor(model => model.User.NewPassword)</div>
            <div>@Html.TextBoxFor(model => model.User.NewPassword, new { type = "password" })</div>
            <small class="validation-message form-text text-danger">@Html.ValidationMessageFor(model => model.User.Password)</small>
        </div>
        </div>
        <div>
            <button class="button-action" id="btnResetPassword" name="btnSubmit" value="resetpassword">Reset Password</button>        
        </div>
        }
