@model Open_Shift.Models.Home

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Kotetsu Scheduling App</h2>
<p>Fill the following form to sign up</p>
@using (Html.BeginForm("SignUp", "Profile", FormMethod.Post))
{
<div class="container-main">
    <div class="container">
        <div>
            <div>@Html.LabelFor(model => model.User.FirstName)</div>
            <div required>@Html.TextBoxFor(model => model.User.FirstName)</div>
        </div>
        <div>
            <div>@Html.LabelFor(model => model.User.LastName)</div>
            <div required>@Html.TextBoxFor(model => model.User.LastName)</div>
        </div>

        <div>
            <div>@Html.LabelFor(model => model.User.Birthday)</div> 
            <div required>@Html.TextBoxFor(model => model.User.Birthday)</div>
        </div>

        <div>
            <div>@Html.LabelFor(model => model.User.AddressLine1)</div>
            <div required>@Html.TextBoxFor(model => model.User.AddressLine1)</div>
        </div>

        <div>
            <div>@Html.LabelFor(model => model.User.AddressLine2)</div>
            <div required>@Html.TextBoxFor(model => model.User.AddressLine2)</div>
        </div>

        <div>
            <div>@Html.LabelFor(model => model.User.PostalCode)</div>
            <div required>@Html.TextBoxFor(model => model.User.PostalCode)</div>
        </div>
    </div>

    <div class="container float"  value="Store Info">
        <div class="section-bottom">
            <div>@Html.LabelFor(model => model.User.StoreLocation)</div>
            <div>@Html.TextBoxFor(model => model.User.StoreLocation)</div>
        </div>

        <div class="section-bottom">
            <div>@Html.LabelFor(model => model.User.EmployeeNumber)</div>
            <div>@Html.TextBoxFor(model => model.User.EmployeeNumber)</div>
        </div>

        <div class="section-bottom">
            <div>@Html.LabelFor(model => model.User.AssociateTitle)</div>
            <div>@Html.TextBoxFor(model => model.User.AssociateTitle)</div>
        </div>
    </div>

    <div class="container right" value="Contact Info">
        <div class="section-bottom">
            <div>@Html.LabelFor(model => model.User.Phonenumber)</div>
            <div required>@Html.TextBoxFor(model => model.User.Phonenumber)</div>
        </div>
        <div class="section-bottom">
            <div>@Html.LabelFor(model => model.User.Email)</div>
            <div required>@Html.TextBoxFor(model => model.User.Email)</div>
        </div>
        <div class="section-bottom">
            <div>@Html.LabelFor(model => model.User.ConfirmEmail)</div>
            <div required>@Html.TextBoxFor(model => model.User.ConfirmEmail)</div>
        </div>
    </div>

    <div class="container container1" value="Creditential Setup">

        <div>
            <div>@Html.LabelFor(model => model.User.Password)</div>
            <div required>@Html.TextBoxFor(model => model.User.Password, new { type = "password" })</div>
        </div>
        <div>
            <div>@Html.LabelFor(model => model.User.Password)</div>
            <div required>@Html.TextBoxFor(model => model.User.Password, new { type = "password" })</div>
        </div>
    </div>

    <div value="Notification">
        <input type="checkbox" name="Notifications" value="Email"> Receive Email Notifications<br>
        <input type="checkbox" name="Notifications" value="Textr"> Receive Text Notificatons<br>
    </div>

</div>

    <div class="section-top2">
        <button class="button-action" id="btnSignUp" name="btnSubmit" value="signup">Sign-Up</button>
        @if (Model.User.LoginFailed)
        {
            <span class="login-failed">Failed to login. Please try again.</span>
        }
        <button class="button-action" id="btnClear" name="btnSubmit" value="clear">Clear</button>
        <button class="button-action" id="btnClose" name="btnSubmit" value="close">Cancel</button>
    </div>
        }
        <script type="text/javascript">
            $("#User_FirstName").focus();
        </script>
