@model Open_Shift.Models.Home

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h1 class="mb-4">Sign Up</h1>
@using (Html.BeginForm("SignUp", "Profile", FormMethod.Post, new { @class = "signup-form" }))
{
    <div class="container-main">

        <div value="Contact Info">
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.Email)</div>
                <div>@Html.TextBoxFor(model => model.User.Email, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.Email)</div>
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.ConfirmEmail)</div>
                <div>@Html.TextBoxFor(model => model.User.ConfirmEmail, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.ConfirmEmail)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.Password)</div>
                <div>@Html.TextBoxFor(model => model.User.Password, new { type = "password", @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.Password)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.Phonenumber)</div>
                <div>@Html.TextBoxFor(model => model.User.Phonenumber, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.Phonenumber)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.Birthday)</div>
                <div>@Html.TextBoxFor(model => model.User.Birthday, "{0:yyyy/MM/dd}", new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.Birthday)</div>

            </div>

        </div>
        <div>
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.FirstName)</div>
                <div>@Html.TextBoxFor(model => model.User.FirstName, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.FirstName)</div>
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.LastName)</div>
                <div>@Html.TextBoxFor(model => model.User.LastName, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.LastName)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.AddressLine1)</div>
                <div>@Html.TextBoxFor(model => model.User.AddressLine1, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.AddressLine1)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.AddressLine2)</div>
                <div>@Html.TextBoxFor(model => model.User.AddressLine2, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.AddressLine2)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.PostalCode)</div>
                <div>@Html.TextBoxFor(model => model.User.PostalCode, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.PostalCode)</div>
            </div>

            <button class="btn btn-primary form-control full-content" id="btnSignUp" name="btnSubmit" value="signup">Sign-Up</button>
        </div>


        <div value="Store Info">
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.StatusID, "Status")</div>
                <div>@Html.DropDownListFor(model => model.User.StatusID, new SelectList(Model.Lists.StatusList, "Value", "Text", Model.User.StatusID), new { @title = "Select your status.", @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.StatusID)</div>
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.StoreID, "Store")</div>
                <div>@Html.DropDownListFor(model => model.User.StoreID, new SelectList(Model.Lists.StoreLocationList, "Value", "Text", (int)Model.User.StoreID), new { @title = "Select your Location.", @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.StoreID)</div>
            </div>
            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.IsManager, "Are You a Manager?")</div>
                <div>@Html.DropDownListFor(model => model.User.IsManager, new SelectList(Model.Lists.IsManager, "Value", "Text", (int)Model.User.IsManager), new { @title = "Select your managerial status.", @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.IsManager)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.EmployeeNumber)</div>
                <div>@Html.TextBoxFor(model => model.User.EmployeeNumber, new { @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.EmployeeNumber)</div>
            </div>

            <div class="form-group">
                <div>@Html.LabelFor(model => model.User.AssociateTitle, "Associate Title")</div>

                <div>@Html.DropDownListFor(model => model.User.AssociateTitle, new SelectList(Model.Lists.AssociateTitle, "Value", "Text", (int)Model.User.AssociateTitle), new { @title = "Select your title.", @class = "form-control" })</div>
                <div>@Html.ValidationMessageFor(model => model.User.AssociateTitle)</div>
            </div>

            <button class="btn btn-primary form-control mobile-content" id="btnSignUp" name="btnSubmit" value="signup">Sign-Up</button>
        </div>

        @*<div value="Notification">
            @*<input type="checkbox" name="Notifications" value="Manager"> Are you a manager?<br>*@
        @*<input type="checkbox" name="Notifications" value="Email"> Receive Email Notifications<br>
            <input type="checkbox" name="Notifications" value="Textr"> Receive Text Notificatons<br>*@
        @*</div>*@

    </div>

    if (Model.User.LoginFailed)
    {
        <span class="login-failed">Failed to login. Please try again.</span>
    }
}
<script type="text/javascript">
    $("#User_FirstName").focus();
</script>

