@model Open_Shift.Models.Home
@{
    ViewBag.Title = "Sign-In";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>Please enter your sign-in information below.</p>
@using (Html.BeginForm("SignIn", "Profile", FormMethod.Post))
{
    <div class="section-bottom">
        <div>@Html.LabelFor(model => model.User.UserID)</div>
        <div>@Html.TextBoxFor(model => model.User.UserID)</div>
    </div>
    <div>
        <div>@Html.LabelFor(model => model.User.Password)</div>
        <div>@Html.TextBoxFor(model => model.User.Password, new { type = "password" })</div>
    </div>
    <div class="section-top2">
        <button class="button-action" id="btnSignIn" name="btnSubmit" value="signin"><i class="fas fa-sign-in-alt"></i> Sign-In</button>
        @if (Model.User.LoginFailed)
        {
            <span class="login-failed">Failed to login. Please try again.</span>
        }
    </div>
}
<script type="text/javascript">
	$("#User_UserID").focus();
</script>
