@model Open_Shift.ViewModels.ScheduleViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/calendar.css")" rel="stylesheet" type="text/css" />
}

<h1 class="display-4 text-center mb-4">Schedule</h1>
<div id="schedule-calendar"></div>
<div id="schedule-data"
     data-associate="@JsonConvert.SerializeObject(Model.User)"
     data-store-id="@((int)Model.User.StoreID)"
     data-availabilities="@JsonConvert.SerializeObject(Model.Availabilities)"
     data-shifts="@JsonConvert.SerializeObject(Model.Shifts)"></div>
<script type="module" src="../Scripts/schedule-script.js">
</script>